* {
  background: black;
  margin: 0;
  padding: 0;
  list-style: none;
}  

@media(max-width:575px){
  
  #image {
    background: url(https://images-ext-1.discordapp.net/external/aJv3tFr8JPO21WJsjZ75rCGZKgWeO283y-H73In5VeM/%3Fsize%3D1024/https/cdn.discordapp.com/avatars/702294827722735748/7ae843b47e24083a877bdad30603677f.webp?width=498&height=498) no-repeat;
    background-size: cover; 
    width: 15vw;
    height: 15vw;
    margin:auto; 
    margin-top: 5vw;
    margin-right: 40px; /*espacio entre la caja y la derecha*/
    border-radius: 25px;
  }
  
  #name {
    
    width: 12vw;
    height: 5vw;
    margin:auto; 
    margin-top: 10vw; /*espacio entre arriba y la caja*/
    margin-Left: -10px; /*espacio entre la caja y la izquierda*/
    font-family: Arial; 

  }
}

/*para discpositivos moviles pequeños*/
@media(max-width:575px) and (max-width:765px){ 
  
  #image {
    background: url(https://images-ext-1.discordapp.net/external/aJv3tFr8JPO21WJsjZ75rCGZKgWeO283y-H73In5VeM/%3Fsize%3D1024/https/cdn.discordapp.com/avatars/702294827722735748/7ae843b47e24083a877bdad30603677f.webp?width=498&height=498) no-repeat;
    background-size: cover; 
    width: 15vw;
    height: 15vw;
    margin:auto; 
    margin-top: 5vw;
    margin-right: 40px; /*espacio entre la caja y la derecha*/
    border-radius: 25px;
  }
  
  #name {
    
    width: 12vw;
    height: 5vw;
    margin:auto; 
    margin-top: 10vw; /*espacio entre arriba y la caja*/
    margin-Left: -10px; /*espacio entre la caja y la izquierda*/
    font-family: Arial; 

  }

}

/*para tablets*/
@media(max-width:765px) and (max-width: 991px){ 

  #image {
    background: url(https://images-ext-1.discordapp.net/external/aJv3tFr8JPO21WJsjZ75rCGZKgWeO283y-H73In5VeM/%3Fsize%3D1024/https/cdn.discordapp.com/avatars/702294827722735748/7ae843b47e24083a877bdad30603677f.webp?width=498&height=498) no-repeat;
    background-size: cover; 
    width: 15vw;
    height: 15vw;
    margin:auto; 
    margin-top: 5vw;
    margin-right: 40px; /*espacio entre la caja y la derecha*/
    border-radius: 25px;
  }
  
  #name {
    
    width: 12vw;
    height: 5vw;
    margin:auto; 
    margin-top: 10vw; /*espacio entre arriba y la caja*/
    margin-Left: -10px; /*espacio entre la caja y la izquierda*/
    font-family: Arial; 

  }

}

/*para pc de escritorio*/
@media(max-width: 2080px) {

  #image {
    background: url(https://images-ext-1.discordapp.net/external/aJv3tFr8JPO21WJsjZ75rCGZKgWeO283y-H73In5VeM/%3Fsize%3D1024/https/cdn.discordapp.com/avatars/702294827722735748/7ae843b47e24083a877bdad30603677f.webp?width=498&height=498) no-repeat;
    background-size: cover; 
    width: 15vw;
    height: 15vw;
    margin:auto; 
    margin-top: 5vw;
    margin-right: 40px; /*espacio entre la caja y la derecha*/
    border-radius: 25px;
  }
  
  #name {
    
    width: 12vw;
    height: 5vw;
    margin:auto; 
    margin-top: 10vw; /*espacio entre arriba y la caja*/
    margin-Left: -10px; /*espacio entre la caja y la izquierda*/
    font-family: Arial; 

  }

}
